@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f7f6fb;
  font-family: 'Muli', 'sans-serif';
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

/* Working on grey line */
.progress-container::before {
  content: '';
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  /* align line vertically */
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  /* make sure it is behind the circles */
  z-index: -1;
}

/* Working on blue line */
.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  /* align line vertically */
  transform: translateY(-50%);
  height: 4px;
  /* will manipulate width */
  width: 0%;
  /* make sure it is behind the circles */
  z-index: -1;
  transition: 0.4s ease;
}

/* Working with circle */
.circle {
  background-color: white;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  /* align numbers inside the circle */
  display: flex;
  align-items: center;
  justify-content: center;
  /* same color as the horizontal grey line */
  border: 3px solid var(--line-border-empty);
  /* border change depending on blue line */
  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--line-border-fill);
}

.btn {
  background-color: var(--line-border-fill);
  color: white;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}

.btn:active {
  /* tickle effect when clicking */
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}
